/* Globals */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto;
}

h1 {
  font-size: 2.5rem;
}

.container {
  width: 80%;
  max-width: 1140px;
  margin: 0 auto;
}

.row {
  display: flex;
  gap: 3em;
}

.col {
  width: 100%;
  text-align: center;
}

/* Intro Section */

.intro {
  background-color: #23424A;
}

.intro-content {
  width: 60%;
  padding: 5em 0;
  color: white;
}

.intro-content p {
  margin-bottom: 3em;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #38CFD9;
  color: #072A2D;
  font-size: 1.025em;
  font-weight: 700;
  border: none;
  text-align: center;
  padding: .75em 2em;
  border-radius: 5em;
}

.btn:hover,
.btn:focus {
  opacity: .75;
}

/* 2 column section */

.three-col-section {
  margin: 4em 0;
}

/* 3 column section */

.two-col-section {
  margin: 4em 0;
}