body {
  margin: 0;
  font-family: Roboto;
}

h1 {
  font-size: 2.5rem;
}

.container {
  width: 80%;
  max-width: 1140px;
  margin: 0 auto;
}

.intro {
  background-color: #23424A;
}

.intro-content {
  width: 50%;
  padding: 5em 0;
}

.intro-btn {
  margin-top: 2em;
}